body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.styled-form [type=text] {
  background-color: rgba(255,255,255,0.9);
  border-style: solid;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  font-size: 14pt;
  padding: 5px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

.styled-form [type=email] {
  background-color: rgba(255,255,255,0.9);
  border-style: solid;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  font-size: 14pt;
  padding: 5px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

.styled-form [type=password] {
  background-color: rgba(255,255,255,0.9);
  border-style: solid;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  font-size: 14pt;
  padding: 5px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

.search {
  width: 80%;
}

.styled-form [type=checkbox] {
  background-color: rgba(255,255,255,0.9);
  border-style: solid;
  font-size: 14pt;
  height: 20px;
  width: 20px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

.styled-form option {
  font-size: 14pt;
  color: white;
  padding: 10px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}

.styled-form label {
  font-size: 14pt;
  color: white;
  padding: 10px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}

.styled-form a {
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
  color: rgb(59, 131, 247);
}

.styled-form [type=submit] {
  background-color: rgba(255,255,255,0.9);
  border-style: solid;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  font-size: 14pt;
  padding: 5px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

.styled-form select {
  background-color: rgba(255,255,255,0.9);
  border-style: solid;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  font-size: 14pt;
  padding: 10px;
  margin: 0px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

.text-input {
  background-color: rgba(255,255,255,0.9);
  border-style: solid;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  font-size: 14pt;
  padding: 5px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

.button-input {
  background-color: rgba(255,255,255,0.9);
  border-style: solid;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  font-size: 14pt;
  padding: 5px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

.error-msg {
  font-size: 14pt;
  color: rgb(255, 130, 143);
  text-shadow: 2px 2px 0px rgba(255,255,255,0.4);
}

.post-list .post {
  background-color: rgba(255,255,255, 0.8);
  padding: 10px;
  margin: 10px 0px;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}

.post .title {
  color: orange;
  font-size: 14pt;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}

.post .divider {
  border-top-style: dashed;
  border-top-color: grey;
  border-top-width: 1px;
  margin: 5px 0px;
}

.box-msg {
  border-radius: 4px;
  background-color: rgba(255,255,255,0.3);
  padding: 10px;
}

.button-input:hover {
  background-color: orange;
  border-style: solid;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  font-size: 14pt;
  padding: 5px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

.box .row {
}

ul.profile-actions {
  list-style-type: none;
}

.profile-actions a {
  color: white;
  text-decoration: none;
}
.profile-actions a:visited {
  color:white;
}

.profile-actions a:hover {
  color:rgb(59, 131, 247);;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  margin: 0;
  background-color: rgba(50, 50 , 50 , 1);
  box-shadow: 0px 3px rgba(0,0,0,0.4);
  padding: 5px 0px;
}

.box .row.content {
  flex: 1 1 auto;
  margin: 0 10%;
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
}

.box .row.footer {
  flex: 0 1 40px;
}

.header .link {
  color: white;
  float: right;
  height: 60px;
  line-height: 60px;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  text-decoration: none;
}

#logolink {
  text-decoration: none;
}

.content h2 {
  margin-top: 0;
}

.header .link:visited {
  color:white;
}

.header .link:hover {
  color:orange;
}

#logo {
  font-size: 50px;
  font-weight: bold;
  background-color: white;
  color: rgba(50, 50 , 50 , 1);
  box-sizing: border-box;
  margin-left: 20px;
  padding: 0px 10px;
  transition-duration: 100ms;
}

#logo:hover {
  background-color: orange;
  cursor: pointer;
}
#apply-button{
  cursor:pointer;
  border: solid black 1px;
  background-color: orange;
  width: 78px;
  margin-left: 40%;
  margin-top: 5%;
  border-radius: 4px;
}

.acepto-terminos {
  padding: 20px;
}
