html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



#navbar {
  margin: 0;
  padding: 0;
  height: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login {
    position:absolute;
    z-index: 2; /* Make sure its above other items. */
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;

    top: 150px;
    margin-left: 60%;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-bar{
  position: relative;
  height: 70%;
  width: 500px;
  left:270px;
}

#search-button{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

#logo {
  position: inherit;
  display: inline;
  margin: 0;
}

#user-image{
  position: relative;
  margin-left: 0;
  border-radius:360px;
  width:48px;
  height:48px;
  left: -150px;

}
#profile{
  color: white;
  height:auto;
  float: right;
  margin-left: 20%;
}

#or {
  margin-bottom: 0;
  text-align: center;
}
#carouselExampleIndicators{
    margin-left: 8.5%;
    position: relative;
    width: 800px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#look-out{
  margin-left: 38%;
  margin-bottom: 4%;
  margin-top: 2%;
}
#subline{
  height: 5%;
}

#job-offerings{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 42%;
  width: 100%;
}

.carousel-inner{
  max-width: 100% ;
  max-height: 100%;
}
.carousel-image{
  width: 100%;
  height: 100%;
}
.thatarea{
    background-color:  rgba(0, 0, 0, 0.1);
    height:150%;
}
.notthatarea{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:150%;
}

.subsection-notthatarea{
  padding-bottom: 7%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.lower-links-login{
  border: rgba(0, 0, 0, 0.2);
}
.lower-info{
  background-color: lightgray;
}

.center-log{
  height: 90vh;
  background-image: url(img/office.jpg);
}

.principal-page{
  background-color: rgba(255,255, 255, 0.1);
  height: 100%;
}
.job{
  width: 700px;
   margin-left: 19%;
   margin-right: 0;
   margin-bottom: 5%;
}
.card-header{
  width: inherit;
  height:3.5%;
}
.card-title{
  margin-top: 1%;
  margin-bottom: 1%;
}
.job-header-img{
  max-width: 60%;
  max-height: 100%;
}
.apply-button{
  margin-bottom: 2%;
}
.fixed-user{
  position: fixed;
  left: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.user-name{
  padding-top:2%;

  margin-bottom: 5%;
  padding-left: 5%;
}
.user-image{
  width: 90px;
  height: 90px;
  margin-left: 30%;
  margin-bottom: 2%;
  border-radius: 360px;
}
.user-description{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  padding-left: 5%;
  padding-bottom: 10%;
}

.pending-applications-btn{
  margin-left: 19%;
  margin-top: 3%;
  margin-bottom: 10%;
}
.see-all{
  margin-top: 2%;
  margin-left: 62%;
}
.position{
  border-left-color: white;
  border-right-color:white;
  width: 100%;
}
.see-applicants-btn{
  float: left;
}
