html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#navbar {
  margin: 0;
  padding: 0;
  height: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login {
    position:absolute;
    z-index: 2; /* Make sure its above other items. */
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;

    top: 150px;
    margin-left: 60%;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}
#or {
  margin-bottom: 0;
  text-align: center;
}

.lower-links-login{
  border: rgba(0, 0, 0, 0.2);
}
.lower-info{
  background-color: lightgray;
}

.center-log{
  height: 90vh;
  background-image: url(img/office.jpg);
}
